.user-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2em;
    padding-left: 5em;
    padding-right: 5em;
    line-height: 2.5em;
}

.user-detail-sales {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.user-detail-table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.user-detail-table > thead > tr > th {
    border: 1px solid black;
    text-align: center;
    width: 25%;
}

.user-detail-table > tbody > tr > td {
    border: 1px solid black;
    text-align: center;
    width: 25%;
}
