.home {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 4px);
    height: calc(100vh - 4px);
    border: 2px solid darkgray;
}

.home-content {
    display: flex;
    flex-grow: 1;
}
